*{
box-sizing:
}

body{
  color: rgb(255, 255, 255);
  background-color: rgb(136,176,75);
  font-family:  'Amatic SC', cursive;
  font-size: 25px;
  font-weight: lighter;
  text-align:center;

}
 h1{
   color: rgb(250, 250, 250  );
   font-family: 'Amatic SC', cursive;
   font-size: 60px;
   font-weight:lighter;
   text-align: center;
 }
 h2{
   color: rgb(255,255, 255);
   font-family: 'Amatic SC', cursive;



 }
 h3{
   color: rgb(255,255,255);
   font-family: 'Amatic SC', cursive;
}
  p{
   font-family: 'Amatic SC', cursive;
   }
#proyects{
background: rgb(130, 170, 75);
width:70%;
height: 150px.;
margin: auto;
}
#about{
background: rgb(130, 170, 75);
width: 70%;
height: 250px;
margin: auto;
}
#cup{
border:20px bold white;
}
#me{
border:20px ridge white;
}
